

main {
    font-family: 'Rubik', sans-serif !important ;
    height: 500px;
}

#high-score{
    color: #6f42c1;
    position:absolute;
    top:7px;
    left:60px;
}

.box{
    text-align: center;
    width: 500px;
    height: 300px;
    
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    position: relative;
    top: 100px;
    transition: opacity 0.5s;
    left: 25%;
}


#time{
    position:absolute;
    top:7px;
    right:60px;
    
}

button{
    background-color:#6f42c1 !important;
    color: white !important;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    position: relative;

}  

#next, #previous, #submit{
    opacity: 0;
    z-index: 2;
}
aside{
    position: absolute;
    align-content: center;
    bottom: 100px;
}

p{
    padding: 15px;
}


form{
    text-align: left;
}


.slide{
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
}
.active-slide{
    opacity: 1;
    z-index: 2;
    
}
  
  