

main {
    font-family: 'Rubik', sans-serif !important ;
}

#high-score{
    color: #6f42c1;
    position:absolute;
    top:7px;
    left:60px;
}

.box{
    text-align: center;
    width: 500px;
    height: 300px;

    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    position: relative;
    top: 100px;
    transition: opacity 0.5s;
}


#time{
    position:absolute;
    top:7px;
    right:60px;
    
}

button{
    background-color:#6f42c1 !important;
    color: white !important;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    position: relative;
    top: 100px;
}  

p{
    padding: 15px;
}

#welcome{
    opacity: 1;
    
}

form, #answer{
    text-align: left;
}

aside {
    position: absolute;
    bottom: 100px;
    left: 36%;
    opacity: 0;
    color: #6f42c1;
}

.slide{
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}
.active-slide{
    opacity: 1;
    z-index: 2;
}
  
  